
 


<div class="container">
<h2 class="jumbotron"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Index</h2>
<div class="list-group" style="width:70%; margin: 0px auto;">
<h3 class="list-group-item active">Listado de Comentarios</h3>
<% @comentarios.each do |com| %>
    <br>
	<p class="list-group-item">ID: <%= com.id %></p>
	<p class="list-group-item">Titulo: <%= link_to com.name, com %></p>
	<p class="list-group-item">Cadena: <%= com.stars %></p>
	<p class="list-group-item">Presentador: <%= com.main_actor %></p>
	<p class="list-group-item">Horario: <%= com.year %></p>
<% end %>
<br>
<p><%=link_to "Añadir comentario", new_comentario_path, class:"btn btn-md btn-success" %></p>
</div>
</div>    
