<div class="container">
<h2 class="jumbotron"><span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;Mostrar Comentario</h2>

<div class="list-group" style="width:70%; margin: 0px auto;">
<p class="list-group-item">ID: <%= @comentario.id %></p>
<p class="list-group-item">Titulo: <%= @comentario.name %></p>
<p class="list-group-item">Cadena: <%= @comentario.stars %></p>
<p class="list-group-item">Presentador: <%= @comentario.main_actor %></p>
<p class="list-group-item">Horario: <%= @comentario.year %></p>
<br>
<%= link_to "Back",  comentarios_path, class:"btn btn-md btn-success" %>
</div>
</div>

