<div class="container">
<header class="row">
	<div class="col-xs-12 col-md-12 col-lg-12">
		<p><%= render "shared/header" %></p>
		<p><%= render "shared/footer" %></p>
</header>
</div>
	<div class="header2">
		<div class="col-xs-12 col-md-12 col-lg-12">	
			<button type="button"><%= link_to "Us", about_path %></button>
			<button type="button"><%=link_to "Login", new_user_session_path %></button>
			<button type="button"><%=link_to "Sign up", new_user_registration_path %></button>
</div>
</div>
<hr>
<div class="container">
	<div class="ratings1">
		<div class="col-xs-12 col-md-12 col-lg-12">
			<img typeof="foaf:Image" itemprop="image" src="http://cdn3.computerhoy.com/sites/computerhoy.com/files/styles/fullcontent/public/novedades/capitan_america_civil_war_0.jpg?itok=V-eEAsKP" width="300" height="250">
			<img typeof="foaf:Image" itemprop="image"  width="300" height="250" src="https://img.actualidadcine.com/wp-content/uploads/2015/10/wallpapers-pelicula-prometheus.jpg"> 
			<img typeof="foaf:Image" itemprop="image"  width="300" height="250" src="https://i.ytimg.com/vi/TlnJ1dCGhP0/hqdefault.jpg?custom=true&amp;w=320&amp;h=180&amp;stc=true&amp;jpg444=true&amp;jpgq=90&amp;sp=68&amp;sigh=9gXH0mNBc4TVGF6Td2JtjotXHDk">
			<img typeof="foaf:Image" itemprop="image"  width="300" height="250" src="http://www.labutaca.net/peliculas/wp-content/uploads/2015/12/la-leyenda-de-tarzan-cartel.jpg">
			</div>
</div>
<div class="container">
	<div class="subzero1">
			<div class="col-xs-3 col-md-3 col-lg-3">
				<h2><u>Accion</u></h2>
<p>
<img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Los juegos del hambre
(2012) Película | 142 min. | Acción |                 
<img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Batman Begins
(2005) Película | 106 min.| Acción | 
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
El ocaso del samurái  Tráiler
(2002) Película | 129 min. | Acción | 
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Juego sucio (2002)
(2002) Película | 97 min. | Acción | 
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
La casa de las dagas voladoras
(2004) Película | 119 min. | Acción | 
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Ong-Bak
(2003) Película | 108 min. | Acción | 
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Collateral
(2004) Película | 115 min. | Acción | 
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
El mito de Bourne
(2004) Película | 108 min. | Acción |
<img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Spider-Man 2
(2004) Película | 127 min. | Acción | 
<img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Ben-Hur (1959)  Tráiler
(1959) Película | 214 min. | Acción | 
<img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Kill Bill Volumen 1
(2003) Película | 111 min. | Acción | 
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Zatoichi
(2003) Película | 116 min. | Acción | 
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Misión imposible (1996)
(1996) Película | 110 min. | Acción | 
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Grupo salvaje
(1969) Película | 134 min. | Acción | 
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
The Italian Job
(2003) Película | 104 min. | Acción | 
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Hero
(2002) Película | 94 min. | Acción | 
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
El caso Bourne
(2002) Película | 90 min. | Acción | 
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Cuando éramos soldados
(2002) Película | 138 min. | Acción | 
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Breakdown
(1997) Película | 92 min. | Acción | 
 </p>
			<hr>
			
			<div class="col-xs-3 col-md-3 col-lg-3" class="subzero1">
			<h2><u>Drama</u></h2>
			<p>
<img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Los juegos del hambre
(2012) Película | 142 min. | Acción |                 
<img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Batman Begins
(2005) Película | 106 min. | Cómic | Aventuras
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
El ocaso del samurái  Tráiler
(2002) Película | 129 min. | Drama
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Juego sucio (2002)
(2002) Película | 97 min. | Thriller | Acción
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
La casa de las dagas voladoras
(2004) Película | 119 min. | Romántico | Acción
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Ong-Bak
(2003) Película | 108 min. | Acción
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Collateral
(2004) Película | 115 min. | Thriller
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
El mito de Bourne
(2004) Película | 108 min. | Acción
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Spider-Man 2
(2004) Película | 127 min. | Cómic | Acción | Aventuras | Fantástico
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Ben-Hur (1959)  Tráiler
(1959) Película | 214 min. | Histórico | Acción | Aventuras | Drama
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Kill Bill Volumen 1
(2003) Película | 111 min. | Acción
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Zatoichi
(2003) Película | 116 min. | Acción
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Misión imposible (1996)
(1996) Película | 110 min. | Acción | Thriller
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Grupo salvaje
(1969) Película | 134 min. | Western
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
The Italian Job
(2003) Película | 104 min. | Thriller
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Hero
(2002) Película | 94 min. | Acción
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
El caso Bourne
(2002) Película | 90 min. | Thriller
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Cuando éramos soldados
(2002) Película | 138 min. | Bélico
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Breakdown
(1997) Película | 92 min. | Acción | Thriller</p>
			<hr>
			<div class="subzero2">
			<div class="col-xs-3 col-md-3 col-lg-3">
			<h2><u>Terror</u></h2>
			<p>
<img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Los juegos del hambre
(2012) Película | 142 min. | Acción |                 
<img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Batman Begins
(2005) Película | 106 min. | Cómic | Aventuras
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
El ocaso del samurái  Tráiler
(2002) Película | 129 min. | Drama
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Juego sucio (2002)
(2002) Película | 97 min. | Thriller | Acción
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
La casa de las dagas voladoras
(2004) Película | 119 min. | Romántico | Acción
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Ong-Bak
(2003) Película | 108 min. | Acción
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Collateral
(2004) Película | 115 min. | Thriller
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
El mito de Bourne
(2004) Película | 108 min. | Acción
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Spider-Man 2
(2004) Película | 127 min. | Cómic | Acción | Aventuras | Fantástico
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Ben-Hur (1959)  Tráiler
(1959) Película | 214 min. | Histórico | Acción | Aventuras | Drama
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Kill Bill Volumen 1
(2003) Película | 111 min. | Acción
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Zatoichi
(2003) Película | 116 min. | Acción
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Misión imposible (1996)
(1996) Película | 110 min. | Acción | Thriller
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Grupo salvaje
(1969) Película | 134 min. | Western
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
The Italian Job
(2003) Película | 104 min. | Thriller
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Hero
(2002) Película | 94 min. | Acción
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
El caso Bourne
(2002) Película | 90 min. | Thriller
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Cuando éramos soldados
(2002) Película | 138 min. | Bélico
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Breakdown
(1997) Película | 92 min. | Acción | Thriller</p>
			<hr>
			<div class="col-xs-3 col-md-3 col-lg-3">
			<h2><u>Ciencia Ficion</u></h2>
			<p>
<img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Los juegos del hambre
(2012) Película | 142 min. | Acción |                 
<img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Batman Begins
(2005) Película | 106 min. | Cómic | Aventuras
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
El ocaso del samurái  Tráiler
(2002) Película | 129 min. | Drama
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Juego sucio (2002)
(2002) Película | 97 min. | Thriller | Acción
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
La casa de las dagas voladoras
(2004) Película | 119 min. | Romántico | Acción
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Ong-Bak
(2003) Película | 108 min. | Acción
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Collateral
(2004) Película | 115 min. | Thriller
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
El mito de Bourne
(2004) Película | 108 min. | Acción
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Spider-Man 2
(2004) Película | 127 min. | Cómic | Acción | Aventuras | Fantástico
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Ben-Hur (1959)  Tráiler
(1959) Película | 214 min. | Histórico | Acción | Aventuras | Drama
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Kill Bill Volumen 1
(2003) Película | 111 min. | Acción
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Zatoichi
(2003) Película | 116 min. | Acción
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Misión imposible (1996)
(1996) Película | 110 min. | Acción | Thriller
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Grupo salvaje
(1969) Película | 134 min. | Western
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
The Italian Job
(2003) Película | 104 min. | Thriller
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Hero
(2002) Película | 94 min. | Acción
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
El caso Bourne
(2002) Película | 90 min. | Thriller
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Cuando éramos soldados
(2002) Película | 138 min. | Bélico
 <img class="view-file-box__image _zoom-image" src="//st.depositphotos.com/1005920/3520/i/450/depositphotos_35206595-stock-photo-video-icon.jpg" width="26" height="25" alt="Icono de video — Foto de Stock #35206595" title="Descargar - Icono de video — Imagen de stock #35206595" itemprop="image">
Breakdown
(1997) Película | 92 min. | Acción | Thriller</p>
			<hr>
		</div>
</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h2><u>News</u></h2>
<img typeof="foaf:Image" itemprop="image" src="https://2.bp.blogspot.com/-8MyGKyHCJN4/WRKPQ-KOc6I/AAAAAAAAAi4/qzT1nuTu9DogZXcnq2lbEABjdWZybG2swCLcB/s1600/guardianes-de-la-galaxia-2-2017.jpg" width="300" height="250">
<img typeof="foaf:Image" itemprop="image" src="https://4.bp.blogspot.com/-BO9hOa2PRCA/WRKQn8rS5-I/AAAAAAAAAjE/P39faAFh3FYt9e4sa_QNe5nDdz5YXhsOQCLcB/s1600/rapidos-y-furiosos-8-2017.jpg" width="300" height="250">
<img typeof="foaf:Image" itemprop="image" src="https://2.bp.blogspot.com/-TbogG55dyt8/WSTrF_bD7zI/AAAAAAAAA0s/xHlLvH9Xn_wG-nO8NBq5dIc3biHvlf9AwCLcB/s1600/alien-covenant-2017.jpg" width="300" height="250">
<img typeof="foaf:Image" itemprop="image" src="https://2.bp.blogspot.com/-GOCsRUH1vig/WS5LdAVbCJI/AAAAAAAAA5A/2NGX-pATwd08H3m4SHk8OF48eVxoS9PzACLcB/s1600/piratas-del-caribe-5-la-venganza-de-salazar-2017.jpg" width="318" height="250">



<img src="https://tpc.googlesyndication.com/simgad/458235284689290504" border="0" width="1250" height="90" alt="" class="img_ad">
<div class="banner" style="background-image: url('https://resizing.flixster.com/ay6XQ7sPBsaKBIq5pS22_MbarzQ=/1100x190/v1.bjsxMjUzNDYwO2o7MTczODQ7MTIwMDsxMTAwOzE5MA')"></div>
<div class="subtle" style="padding:10px">
        <span class="easteregg">Copyright © Fandango. All rights reserved.</span> <span style="color:black">V2</span>
        <a id="footer-privacy" href="//www.fandango.com/PrivacyPolicy">Privacy Policy</a> |
        <a id="footer-tos" href="//www.fandango.com/terms-and-policies">Terms and Policies</a> |
        <a id="footer-ad-choices" href="//www.aboutads.info/choices" class="adchoices">Ad Choices</a>
    </div>
</div>
