
 


<div class="container">
<h2 class="jumbotron"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Index</h2>
<div class="list-group" style="width:70%; margin: 0px auto;">
<h3 class="list-group-item active">Listado de Peliculas</h3>
<% @peliculas.each do |peli| %>
    <br>
	<p class="list-group-item">ID: <%= peli.id %></p>
	<p class="list-group-item">Titulo: <%= link_to peli.name, peli %></p>
	<p class="list-group-item">Cadena: <%= peli.stars %></p>
	<p class="list-group-item">Presentador: <%= peli.main_actor %></p>
	<p class="list-group-item">Horario: <%= peli.year %></p>
<% end %>
<br>
<p><%=link_to "Añadir pelicula", new_pelicula_path, class:"btn btn-md btn-success" %></p>
</div>
</div>     
